body {
	font-family: "Arial", sans-serif;
	background-color: #f0f4f8;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
	max-width: 600px;
	background: white;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
	color: #333;
	text-align: center;
}

input[type="text"] {
	margin-top: -1.5rem;
	padding: 10px;
	width: 60%;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 10px;
}

input[type="text"]:focus {
	outline: none;
	box-shadow: none;
	border: 2px solid #007bff;
}

.btn {
	padding: 10px 20px;
	width: fit-content;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	cursor: pointer;
}

.btn:hover {
	background-color: #0056b3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.roast-output {
	padding: 10px;
	background-color: #f8f9fa;
	border-left: 3px solid #007bff;
	color: #333;
	align-self: flex-start;
}
